header {
	width: 100%;
	margin: 0 auto;
}
.header {
	margin: 0;
	width: 100%;
	height: 215px;
	display: flex;
	&__wrap {
		margin: 0;
		width: 100%;
		display: block;
	}
	&__logo {
		display: flex;
		margin-top: 57px;
		margin-left: 387px;
		width: 200px;
		height: 46px;
	}
	&__nav {
		margin: 0;
		width: 681px;
		nav {
			margin-top: 46px;
			margin-left: 400px;
			width: 100%;
			line-height: 1.7;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			color: #444444;
		}
	}
	&__contact {
		width: 600px;
		display: flex;
		flex-wrap: wrap;
		line-height: 0.7;
		justify-content: flex-end;
		margin-right: 20px;
		margin-top: 60px;
		
		&-mail {
			width: 200px;
			height: 35px;
		}
		&-phone {
			width: 180px;
			height: 45px;
		}
		&-text {
		}
	}
	&__btns {
		width: 400px;
		margin-top: 72px;
		height: 200px;
		flex-wrap: wrap;
		justify-content: flex-end;
		&-blue input {
			background-color: #0067ff;
			width: 180px;
			border: 1px solid #0067ff;
			border-radius: 50px;
			height: 31px;
			color: #fff;
		}
	}
}
