footer {
	width: 100%;
	margin: 0;
	margin-top: 200px;
	height: 500px;
	background: #4c40f7;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-flow: column;
	&__text {
		margin-left: 372px;
		margin-top: 146px;
		color: #fff;
		font-size: 24px;
		padding-bottom: 20px;
		span {
			margin-right: 20px;
			border: 2px solid #fff;
			border-radius: 250px;
		}
		p {
			font-size: 16px;
			margin-bottom: 35px;
		}
	}
	&__links {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: auto;
		margin-left: 166px;
		margin-top: 139px;
		color: #fff;
		h3{
			font-size: 16px;
		}
		&-item {
			margin: 0;
			height: 200px;
			// display: grid;
			grid-template-rows: 1fr 1fr;
			grid-auto-rows: minmax(100px, 300px);
			grid-column-gap: 5px;
			list-style: none;
			font-size: 14px;
			&-contact {
				
				p {
					font-size: 14px;
				}
			}
		}
		&:last-child {
			margin-right: 300px;
		}
	}
}
