.banner {
	width: 100%;
	height: 70vh;
	margin: 0;
	background-color: #add;

	&__btn {
		width: 165px;
		height: 56px;
		margin-left: 401px;
		margin-bottom: 70px;

	}
	&__btn input {
		width: 165px;
		background: #ffffff;
		height: 56px;
		border-radius: 50px;
		border: 1px solid #ffffff;
		font-size: 16px;
		text-align: center;
	}
}
.big_text {
	padding-top: 50px;
	width: 538px;
	height: 180px;
	margin-left: 401px;
	font-size: 60px;
	font-style: bold;
}
.small_text {
	padding-top: 50px;
	width: 519px;
	margin-top: 70px;
	margin-left: 401px;
	font-size: 16px;
}
